@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 10px 20px;
  margin-left: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.success{
    background: rgb(0, 128, 0);;
}
.warning{
    background: rgb(255, 165, 0);;
}
.error{
    background: red;
}
.toast{
    width: 330px;
    height: 100vh;
    position: fixed;
    top: 10px;
    right: 15px;
    color: white;
    padding: 15px;
}
.t_error{
    width: 100%;
    height: 60px;
    background: rgb(255, 109, 109);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    border-radius: 5px;
    border-left: 5px solid red;
    position: relative;
    overflow: hidden;
    animation: toast 1s ease forwards;
}
.t_warning{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 135);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 5px;
    border-left: 5px solid yellow;
    position: relative;
    overflow: hidden;
    animation: toast 1s ease forwards;
}
.t_success{
    width: 100%;
    height: 60px;
    background: rgb(109, 255, 109);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 5px;
    border-left: 5px solid green;
    position: relative;
    overflow: hidden;
    animation: toast 1s ease forwards;
}

.t_error .countdown{
    height: 4px;  
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
    background: red; 
    animation: coutdown 4s ease-out forwards 1.1s;
    transform-origin: left;
    transform: scaleX(1);
}
.t_warning .countdown{
    height: 4px;  
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
    background: yellow; 
    animation: coutdown 4s ease-out forwards 1.1s;
    transform-origin: left;
    transform: scaleX(1);
}
.t_success .countdown{
    height: 4px;  
    width: 100%; 
    position: absolute;
    bottom: 0;
    left: 0;
    background: green; 
    animation: coutdown 4s ease-out forwards 1.1s;
    transform-origin: left;
    transform: scaleX(1);
}
@keyframes coutdown{
    to{
        transform: scaleX(0);
    }
}
@keyframes toast{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-20px);
    }
    60%{
        transform: translateX(10px);
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes hide{
    50%{
        transform: translateX(20px);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(330px);
    }
}